<label><strong>Search Up </strong></label> <br>

<input type = "text" [(ngModel)] = "userInput" (keyup) = "search()" placeholder="Search tasks" >

<ul *ngFor="let item of filterArr">
    Are you searching for: {{item.title}}:
    {{item.description}}
</ul>

<ul *ngFor = "let item of tasks">
    <li><app-task-detail [detail] = "item" (updateTask) = "getTask($event)"></app-task-detail></li>
</ul>

<label>Select the status:  </label>
<select [(ngModel)] = "selectedStatus">
  <option value = "Completed">Completed</option>
  <option value = "Incomplete">Incomplete</option>
  <option value = "In Progress">In Progress</option>
</select>

<ul *ngFor = "let item of tasks | custom: selectedStatus">
  {{item.title}}:  {{item.status}}

</ul>



