<h2>Product List</h2>

<input type="text" placeholder="Search..." [formControl]="userInput" />


<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


<h3>Add Product</h3>
<input type="text" placeholder="Title" [(ngModel)]="newProduct.title">
<input type="text" placeholder="Description" [(ngModel)]="newProduct.description">
<input type="text" placeholder="Category" [(ngModel)]="newProduct.category">
<button (click)="addProduct()">Add</button>

<ul *ngIf="products.length>0; else loading">
  <li *ngFor="let product of products">
   
    <div *ngIf="editProductId !== product.id">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
      <button (click)="editProduct(product)">Edit</button>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </div>

   
    <div *ngIf="editProductId === product.id">
      <input [(ngModel)]="editData.title" placeholder="Title">
      <input [(ngModel)]="editData.description" placeholder="Description">
      <input [(ngModel)]="editData.category" placeholder="Category">
      <button (click)="saveEdit()">Save</button>
    </div>
  </li>
</ul>

<ng-template #loading>
  <p>Loading products...</p>
</ng-template>

