ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-bottom: 10px;

    li {
        float: left;
        display: block;
        color: white;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;

    }

}

.header {
    font-size: 15pt;
    background-color: rgb(77, 24, 77);
}

